<mat-card>
  <mat-card-header>
    <span>Create account</span>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <mat-label><span>Name</span></mat-label>
      <input matInput [(ngModel)]="newAccount.description"/>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>

  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="accounts" class="mat-elevation-z8" *ngIf="accounts.length">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef title="description">
      <span>Description</span>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef title="actions">
      <span>Actions</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="editDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="importDialog(element)">
        <mat-icon>input</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button (click)="delete(element)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
