<h1 *ngIf="isExpense()"><span>Spending rate of</span> {{category}}</h1>
<h1 *ngIf="isEarning()"><span>Earning rate of</span> {{category}}</h1>

<div *ngIf="isExpense()">
  This chart represents the cumulative expenses of this category.
  At any given time, the cumulated expenses should be above the budgeted limit.
</div>
<div *ngIf="isEarning()">
  This chart represents the cumulative earnings of this category.
</div>

<ngx-charts-line-chart [results]="data" [scheme]="'forest'" [view]="[1200,600]"
[legend]="true"></ngx-charts-line-chart>
