<div (keyup.enter)="onSaveClick()">
  <h1 mat-dialog-title>Edit budget entry</h1>
  <div mat-dialog-content>

    <div>
      <mat-form-field style="width:100%">
        <mat-label>Amount per year</mat-label>
        <input matInput type="number" [(ngModel)]="copy.amount">
        <mat-hint>Use a <b>negative</b> amount for an expense, a <b>positive</b> amount for an earning.</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="copy.category">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subcategory</mat-label>
        <input matInput [(ngModel)]="copy.subcategory">
      </mat-form-field>
    </div>


    <div *ngIf="copy.amount > 0">
      You plan to <b>earn</b> {{ format(abs(copy.amount)) }} per year
      ({{ format(abs(copy.amount) / 12) }} per month).
    </div>
    <div *ngIf="copy.amount < 0">
      You plan to <b>spend</b> {{ format(abs(copy.amount)) }} per year
      ({{ format(abs(copy.amount) / 12) }} per month).
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onCloseClick()">Close</button>
    <span class="filler"></span>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
  </div>

</div>
