// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gui-primary: mat.define-palette(mat.$green-palette, 300);
$gui-accent: mat.define-palette(mat.$grey-palette, 400);

// The warn palette is optional (defaults to red).
$gui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gui-theme: mat.define-light-theme((
  color: (
    primary: $gui-primary,
    accent: $gui-accent,
    warn: $gui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gui-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filler {
  flex: 1 1 auto;
}

.primary-text-color,
.primary-text-color .mat-cell {
  color: mat.get-color-from-palette($gui-primary, 700) !important;
}

.warn-text-color {
  color: mat.get-color-from-palette($gui-warn, 700) !important;
}

.numbers {
  text-align: right;
  justify-content: flex-end;
}

