.row {
  margin-bottom: 15px;
}

h1, h2 {
  padding: 24px 0 0 16px;
}

#filters {
  padding-top: 16px;
  padding-left: 16px;
}

.description {
  margin: 20px
}

table {
  width: 100%;
}

.budget-progress {
  padding-right: 20px;
}

mat-progress-bar {
  height: 10px;
}

#charts {
}

.chart {
  /*padding: 20px*/
}

google-chart {
  width: 100%;
  height: 500px;
}

mat-card mat-form-field {
  margin: 5px 10px;
}

.card-title {
  font-weight: bold;
  font-size: larger;
}

tr.mat-header-row {
  height: 64px;
}

.mat-column-actual.mat-cell,
.mat-column-amount.mat-cell,
.mat-column-leftPerYear.mat-cell,
.mat-column-actualPerMonth.mat-cell,
.mat-column-budgetPerMonth.mat-cell {
  font-family: Mono, sans-serif;
}

mat-icon {
  vertical-align: sub;
}

#overview {

  justify-content: center;

  div {
    margin: 10px;
  }

  h2 {
    text-align: center
  }

}
