<div id="filters">

  <mat-form-field>
    <mat-label>Budget</mat-label>
    <mat-select [(ngModel)]="budgetFilter" (selectionChange)="fetchBudgetEntries()">
      <mat-option *ngFor="let budget of budgetList" [value]="budget">
        {{budget.budgetYear}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<mat-progress-bar mode="indeterminate" *ngIf="!loaded"></mat-progress-bar>

<div id="overview" fxLayout="row" fxLayoutGap="10px" *ngIf="budgetFilter">

  <div fxFlex="25">
    <h2>
      <mat-icon>calendar_today</mat-icon>
      <span>Year progress: {{yearProgress * 100 | number:'1.2-2' }}%</span></h2>
    <div #yearProgressWrapper>
      <ngx-charts-gauge [results]="yearProgressData" [scheme]="'forest'"
                        [view]="[yearProgressWrapper.offsetWidth, yearProgressWrapper.offsetHeight]">
      </ngx-charts-gauge>
    </div>
  </div>

  <div fxFlex="25">
    <h2>
      <mat-icon>compare_arrows</mat-icon>
      <span>Balance: {{ formatMonetaryAmount(balance()) }}</span></h2>
    <div #balanceWrapper>
      <ngx-charts-pie-chart [results]="balanceData" [doughnut]="true" [labels]="true"
                            [scheme]="'forest'"
                            [view]="[balanceWrapper.offsetWidth, balanceWrapper.offsetHeight]">
      </ngx-charts-pie-chart>
    </div>
  </div>

  <div fxFlex="25">
    <h2>
      <mat-icon>input</mat-icon>
      Budgeted earnings: {{ formatMonetaryAmount(budgetedEarnings()) }}
    </h2>
    <div #inputWrapper>
      <ngx-charts-pie-chart [results]="earningsData" [doughnut]="true" [labels]="true"
                            [scheme]="'forest'"
                            [view]="[inputWrapper.offsetWidth, inputWrapper.offsetHeight]">
      </ngx-charts-pie-chart>
    </div>
  </div>

  <div fxFlex="25">
    <h2>
      <mat-icon>output</mat-icon>
      Budgeted expenses {{ formatMonetaryAmount(budgetedExpenses()) }}
    </h2>
    <div #outputWrapper>
      <ngx-charts-pie-chart [results]="expensesData" [doughnut]="true" [labels]="true"
                            [scheme]="'forest'"
                            [view]="[outputWrapper.offsetWidth, inputWrapper.offsetHeight]">
      </ngx-charts-pie-chart>
    </div>
  </div>

</div>

<div>
  <div>
    <mat-card *ngIf="budgetFilter">
      <mat-card-header>
        <span>New budget entry</span>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            <span>Category</span>
          </mat-label>
          <input [(ngModel)]="newEntry.category" matInput type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            <span>Subcategory</span>
          </mat-label>
          <input [(ngModel)]="newEntry.subcategory" matInput type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            <span>Amount per year</span>
          </mat-label>
          <input [(ngModel)]="newEntry.amount" matInput type="number">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createNew()">
          <span>Create</span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<table *ngIf="budgetEntries" mat-table [dataSource]="budgetEntries" class="mat-elevation-z8">

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>
      <span>Progress</span>
    </th>
    <td mat-cell *matCellDef="let element" class="budget-progress">
      <mat-progress-bar mode="determinate"
                        value="{{ progress(element) }}" color="{{status(element).color }}"
                        title="{{ progress(element) | number:'1.2-2' }}%"></mat-progress-bar>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>
      <span>Category</span>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="subcategory">
    <th mat-header-cell *matHeaderCellDef>
      <span>Subcategory</span>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.subcategory}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <span>Status</span>
    </th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="status(element).color === 'warn' ? 'warn-color' : ''">
      {{ status(element).message }} </td>
  </ng-container>

  <ng-container matColumnDef="actual">
    <th mat-header-cell *matHeaderCellDef>Actual</th>
    <td mat-cell *matCellDef="let element"> {{ actualFormatter!(element.actual) }} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Budget/year</th>
    <td mat-cell *matCellDef="let element"> {{ amountFormatter!(element.amount) }} </td>
  </ng-container>

  <ng-container matColumnDef="leftPerYear">
    <th mat-header-cell *matHeaderCellDef>Left</th>
    <td mat-cell *matCellDef="let element"> {{ leftFormatter!(element.amount - element.actual) }} </td>
  </ng-container>

  <ng-container matColumnDef="actualPerMonth">
    <th mat-header-cell *matHeaderCellDef>Actual/month</th>
    <td mat-cell *matCellDef="let element"> {{ actualPerMonthFormatter!(actualPerMonth(element)) }} </td>
  </ng-container>

  <ng-container matColumnDef="budgetPerMonth">
    <th mat-header-cell *matHeaderCellDef>Budget/month</th>
    <td mat-cell *matCellDef="let element"> {{ budgetPerMonthFormatter!(budgetPerMonth(element)) }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="spendingRate(element)">
        <mat-icon>show_chart</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="edit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="warn" (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'primary-text-color': row.amount > 0}"></tr>

</table>
