<h1 mat-dialog-title>Edit transaction</h1>

<form [formGroup]="form" (keyup.control.enter)="onSubmit()" (submit)="onSubmit()" mat-dialog-content>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Accounting date</mat-label>
      <input matInput [matDatepicker]="accountingDatePicker"
             (dateChange)="updateBudgetDates(); "
             formControlName="accountingDate" required/>
      <mat-datepicker-toggle matSuffix [for]="accountingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #accountingDatePicker></mat-datepicker>
      <mat-error *ngIf="form.controls['accountingDate'].invalid">{{accountingDateErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Budget month</mat-label>
      <select matNativeControl formControlName="budgetMonth">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <mat-error *ngIf="form.controls['budgetMonth'].invalid">{{budgetMonthErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Budget year</mat-label>
      <input matInput type="number" formControlName="budgetYear">
      <mat-error *ngIf="form.controls['budgetYear'].invalid">{{budgetYearErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" id="transaction-description">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required/>
      <mat-error *ngIf="form.controls['description'].invalid">{{descriptionErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>

    <p>Use a <b>negative</b> amount for an expense, a <b>positive</b> amount for an earning.</p>

    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" required/>
      <mat-error *ngIf="form.controls['amount'].invalid">{{amountErrorMessage()}}</mat-error>
    </mat-form-field>

    <span *ngIf="form.controls['amount'].valid">
      <span *ngIf="form.controls['amount'].value > 0" class="primary-text-color">&nbsp;earned on:&nbsp;</span>
      <span *ngIf="form.controls['amount'].value < 0">&nbsp;spent on:&nbsp;</span>
    </span>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
  <span class="filler"></span>
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="!form.valid"
          title="ctrl+enter">Save</button>
</div>
