<div id="filters">

  <mat-form-field>
    <mat-label>Accounts</mat-label>
    <mat-select [(ngModel)]="accountFilter" (selectionChange)="filterTransactions()">
      <mat-option>all</mat-option>
      <mat-option *ngFor="let account of accountList()" [value]="account">
        {{account.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Accounting date</mat-label>
    <input matInput [(ngModel)]="accountingDateFilter" [matDatepicker]="accountingDateFilterPicker"
           (dateChange)="filterTransactions()">
    <mat-datepicker-toggle matSuffix [for]="accountingDateFilterPicker"></mat-datepicker-toggle>
    <mat-datepicker #accountingDateFilterPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Budget</mat-label>
    <mat-select [(ngModel)]="budgetFilter" (selectionChange)="fetchTransactions()">
      <mat-option *ngFor="let budget of budgetList()" [value]="budget">
        {{budget.budgetYear}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Budget month</mat-label>
    <mat-select [(ngModel)]="budgetMonthFilter" (selectionChange)="filterTransactions()">
      <mat-option [value]=""></mat-option>
      <mat-option [value]="1">January</mat-option>
      <mat-option [value]="2">February</mat-option>
      <mat-option [value]="3">March</mat-option>
      <mat-option [value]="4">April</mat-option>
      <mat-option [value]="5">May</mat-option>
      <mat-option [value]="6">June</mat-option>
      <mat-option [value]="7">July</mat-option>
      <mat-option [value]="8">August</mat-option>
      <mat-option [value]="9">September</mat-option>
      <mat-option [value]="10">October</mat-option>
      <mat-option [value]="11">November</mat-option>
      <mat-option [value]="12">December</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="descriptionFilter" (keyup)="filterTransactions()">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Budget entries</mat-label>
    <mat-select [(ngModel)]="budgetEntryFilter" (selectionChange)="filterTransactions()">
      <mat-option *ngFor="let entry of budgetEntriesList()" [value]="entry">
        {{display(entry.category, entry.subcategory)}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="unallocatedFilter" (change)="filterTransactions()">Unallocated</mat-checkbox>

</div>

<!--region batch edit-->
<mat-card *ngIf="transactionsSelected()">
  <mat-card-header>Batch operations</mat-card-header>

  <mat-card-content>

    <mat-form-field>
      <mat-label>Budget entries</mat-label>
      <mat-select [(ngModel)]="selectedBatchBudgetEntry">
        <mat-option *ngFor="let entry of budgetEntriesList()" [value]="entry">
          {{display(entry.category, entry.subcategory)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--    <mat-form-field>-->
    <!--      <mat-label>Category</mat-label>-->
    <!--      <input [(ngModel)]="batchCategory" matInput type="text">-->
    <!--&lt;!&ndash;      <input [(ngModel)]="batchCategory" matInput type="text" [matAutocomplete]="autoCategory">&ndash;&gt;-->
    <!--    </mat-form-field>-->
    <!--&lt;!&ndash;    <mat-autocomplete #autoCategory="matAutocomplete">&ndash;&gt;-->
    <!--&lt;!&ndash;      <mat-option *ngFor="let option of autoCompleteCategories()" [value]="option">&ndash;&gt;-->
    <!--&lt;!&ndash;        {{option}}&ndash;&gt;-->
    <!--&lt;!&ndash;      </mat-option>&ndash;&gt;-->
    <!--&lt;!&ndash;    </mat-autocomplete>&ndash;&gt;-->

    <!--    <mat-form-field>-->
    <!--      <mat-label>Subcategory</mat-label>-->
    <!--      <input [(ngModel)]="batchSubcategory" matInput type="text">-->
    <!--&lt;!&ndash;      <input [(ngModel)]="batchSubcategory" matInput type="text" [matAutocomplete]="autoSubcategory">&ndash;&gt;-->
    <!--    </mat-form-field>-->
    <!--    <mat-autocomplete #autoSubcategory="matAutocomplete">-->
    <!--      <mat-option *ngFor="let option of autoCompleteSubcategories()" [value]="option">-->
    <!--        {{option}}-->
    <!--      </mat-option>-->
    <!--    </mat-autocomplete>-->

    <button mat-raised-button color="primary" (click)="batchUpdate()">Update selected</button>&nbsp;
    <!--    <button mat-raised-button color="warn" (click)="batchDelete()">Delete selected</button>-->

  </mat-card-content>

</mat-card>
<!--endregion-->

<mat-progress-bar mode="indeterminate" *ngIf="!loaded"></mat-progress-bar>

<mat-paginator [length]="filteredTransactions.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="page($event)">
</mat-paginator>

<mat-toolbar class="category-toolbar" color="primary">
  <span *ngIf="!accountFilter">All transactions</span>
  <span *ngIf="accountFilter">{{accountFilter.description}}</span>
  <span class="filler"></span>

</mat-toolbar>

<table mat-table [dataSource]="currentPage" class="mat-elevation-z8">

  <ng-container matColumnDef="selected">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-raised-button color="accent" (click)="selectAll()">
        <mat-icon>fact_check</mat-icon> Selected
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.selected"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef>Account</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      {{accounts.get(element.accountId)?.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="accountingDate">
    <th mat-header-cell *matHeaderCellDef>Accounting date</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      {{element.accountingDate}}
    </td>
  </ng-container>

  <ng-container matColumnDef="budgetMonth">
    <th mat-header-cell *matHeaderCellDef>Budget month</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      {{element.budgetMonth | monthName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td class="description" mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      {{element.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      {{ amountFormatter!(element.amount) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="allocations">
    <th mat-header-cell *matHeaderCellDef>Allocations</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount && element.amount > 0 ? 'primary-text-color' : ''">
      <span *ngFor="let allocation of element.allocations; let last = last">
        {{display(allocation.category, allocation.subcategory)}}: {{allocationFormatter!(allocation.amount)}}
        <br *ngIf="!last"/>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="editDialog(element)" title="edit">
        <mat-icon>edit</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="allocateDialog(element)" title="allocate">
        <mat-icon>playlist_add</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="warn" (click)="confirmDelete(element)" title="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
