table {
  width: 100%;
}

#filters {
  padding-top: 16px;
  padding-left: 16px;
}

td.description {
  max-width: min-content;
  padding-right: 10px;
}

h1 {
  padding: 24px 0 0 16px;
}

.mat-toolbar.closed {
  margin-bottom: 1px;
}

.mat-table.closed {
  display: none;
}

td:first-child {
  padding: 5px 20px 5px 20px !important;
}

td {
  padding: 5px 20px 5px 0 !important;
}

.date {
  width: 100px;
}

.year {
  width: 60px;
}

.month {
  width: 90px;
}

mat-card {
  margin: 20px;
}

mat-card mat-form-field {
  margin: 5px 10px;
}

tr.mat-header-row {
  height: 64px;
}

span.mat-checkbox-inner-container {
  margin-top: 5px !important;
}

mat-card-title {
  display: flex;
}

.mat-column-amount.mat-cell {
  font-family: Mono, sans-serif;
}
