<h1 mat-dialog-title>Import transactions</h1>

<mat-form-field appearance="fill">
  <mat-label>
    <span>Bank</span>
  </mat-label>
  <mat-select [(ngModel)]="selectedImporter">
    <mat-option *ngFor="let importer of importers" [value]="importer">
      {{importer[0]}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button type="button" mat-raised-button (click)="fileInput.click()">
  {{selectedFileName ? selectedFileName : 'Choose file'}}
</button>
<input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
  <span class="filler"></span>
  <button mat-raised-button color="primary" (click)="onImportClick()">Import</button>
</div>
