<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
               [attr.role]="'navigation'"
               [mode]=" 'side'"
               [opened]="true">
    <mat-toolbar>
      <mat-icon>menu</mat-icon>&nbsp;<span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>&nbsp;
        <span>Home</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/accounts">
        <mat-icon mat-list-icon>credit_card</mat-icon>&nbsp;<span>Monetary accounts</span>
      </a>
      <a mat-list-item routerLink="/transactions">
        <mat-icon mat-list-icon>money</mat-icon>&nbsp;<span>Transactions</span>
      </a>
      <a mat-list-item routerLink="/analyze">
        <mat-icon mat-list-icon>bar_chart</mat-icon>&nbsp;<span>Analyze</span>
      </a>
      <a mat-list-item routerLink="/budgets">
        <mat-icon mat-list-icon>timelapse</mat-icon>&nbsp;<span>Budget</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span id="brand">Henkui</span>
      <span id="company">&nbsp;by Mariano LEANCE</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
