.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#google-logo {
  height: 1.3em;
  margin-right: 0.4em;
}

#brand {
  font-weight: bolder;
  color: white;
  font-size: 2em;
}

#company {
  color: white;
  font-size: 1em;
}
