<div id="filters">

  <mat-form-field>
    <mat-label> Budget </mat-label>
    <mat-select [(ngModel)]="budgetFilter" (selectionChange)="fetchAnalysis()">
      <mat-option *ngFor="let budget of budgetList" [value]="budget">
        {{ budget.budgetYear }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<mat-progress-bar mode="indeterminate" *ngIf="!data"></mat-progress-bar>

<div *ngIf="data">

  <table mat-table [dataSource]="[data]" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ budgetFilter!.budgetYear }} </td>
    </ng-container>

    <ng-container matColumnDef="{{ month }}" *ngFor="let month of range(1, 12)">
      <th mat-header-cell *matHeaderCellDef> {{ monthShortName(month) }} </th>
      <td mat-cell *matCellDef="let element" [class.primary-text-color]="element.totalPerMonth[month-1].totalAmount > 0"
          class="numbers">
        {{ format(element.totalPerMonth[month-1].totalAmount) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef title="total"> Total </th>
      <td mat-cell *matCellDef="let element" class="numbers" [class.primary-text-color]="element.totalAmount > 0">
        {{ format(element.totalAmount) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div *ngFor="let category of data.categories">
    <mat-toolbar class="category-toolbar" color="primary">
      {{ category.description }}
      <span class="filler"></span>
      <span class="numbers"> {{ format(category.totalAmount) }} </span>
    </mat-toolbar>
    <table mat-table [dataSource]="category.subcategories" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="{{ month }}" *ngFor="let month of range(1, 12)">
        <th mat-header-cell *matHeaderCellDef>{{ monthShortName(month) }}</th>
        <td mat-cell *matCellDef="let element" [class.primary-text-color]="element.totalPerMonth[month-1].totalAmount > 0"
            class="numbers">
          {{ format(element.totalPerMonth[month-1].totalAmount) }}
        </td>
        <td mat-footer-cell *matFooterCellDef [class.primary-text-color]="category.totalPerMonth[month-1].totalAmount > 0"
            class="numbers">
          {{ format(category.totalPerMonth[month-1].totalAmount) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef title="total"> Total</th>
        <td mat-cell *matCellDef="let element" [class.primary-text-color]="element.totalAmount > 0" class="numbers">
          {{ format(element.totalAmount) }}
        </td>
        <td mat-footer-cell *matFooterCellDef [class.primary-text-color]="category.totalAmount > 0" class="numbers">
          {{ format(category.totalAmount) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
  </div>

</div>
