h1, h2 {
  padding: 24px 0 0 16px;
}

#filters {
  padding-top: 16px;
  padding-left: 16px;
}

table {
  width: 100%;
}

table td:first-child {
  width: 8%;
}

table th + th,
table td + td {
  width: 7%;
  text-align: right;
}

tr.mat-footer-row {
  font-weight: bold;
}

.numbers {
  font-family: Mono, sans-serif;
}
