<h1 mat-dialog-title>Allocate</h1>

<div (keyup.control.enter)="allocate()" mat-dialog-content>

  <mat-form-field>
    <mat-label>Budget entries</mat-label>
    <mat-select [(ngModel)]="selectedEntry">
      <mat-option *ngFor="let entry of data.entries" [value]="entry">
        {{display(entry.category, entry.subcategory)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="selectedAmount" type="number">
  </mat-form-field>
  &nbsp;

  <button mat-raised-button (click)="allocate()" color="primary" [disabled]="!selectedEntry"
          title="ctrl+enter">Allocate
  </button>

</div>

<table mat-table [dataSource]="data.transaction.allocations">

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount?.amount > 0 ? 'primary-text-color' : ''">
      {{element.category}}
    </td>
  </ng-container>

  <ng-container matColumnDef="subcategory">
    <th mat-header-cell *matHeaderCellDef>Subcategory</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount?.amount > 0 ? 'primary-text-color' : ''">
      {{element.subcategory}}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="element.amount?.amount > 0 ? 'primary-text-color' : ''">
      {{element.amount}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="deallocate(element)" title="deallocate">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
