<div (keyup.enter)="onSaveClick()">

  <h1 mat-dialog-title>
    <span>Edit account</span>
  </h1>

  <div mat-dialog-content>

    <div>
      <mat-form-field>
        <mat-label>
          <span>Description</span>
        </mat-label>
        <input matInput [(ngModel)]="copy.description">
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
    <span class="filler"></span>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
  </div>

</div>
