#home-logo {
  text-align: center;

  img {
    max-width: 100%;
  }
}

mat-icon {
  vertical-align: sub;
}

#description {
  text-align: center;
}

//mat-icon {
//  margin-right: 6px;
//}


mat-grid-tile * {
  display: block;
}


#features {

  justify-content: center;

  div {
    margin: 10px;
    max-width: 320px;
  }

  h2 {
    text-align: center
  }

  mat-spinner {
    text-align: center;
  }

}
