<div id="home">

  <div id="home-logo">
    <img src="assets/images/logo/henkui.png" alt="henkui logo">
  </div>

  <div id="description">
    <h1>Henkui is a free accounting and budgeting app.</h1>
  </div>

  <div id="features" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="0 1 calc(33.3% - 32px)">
      <h2>
        <mat-icon>fast_forward</mat-icon>
        <span>Import your date in seconds.</span>
      </h2>
      <p>
        Don't have all day to transform your data for Excel ?<br/>
        Henkui has importers that load the data directly from the files produced by your local bank.
      </p>
    </div>
    <div fxFlex="0 1 calc(33.3% - 32px)">
      <h2>
        <mat-icon>analytics</mat-icon>
        <span>Analyze it in minutes.</span></h2>
      <p>
      <p>
        Take a look at the analyze screen to get a bird's eye view of your expenses.<br/>
        This will allow you to better understand your spending habits.
      </p>
    </div>
    <div fxFlex="0 1 calc(33.3% - 32px)">
      <h2>
        <mat-icon>mood</mat-icon>
        <span>Take the right decisions.</span>
      </h2>
      <p>
        Take control, make a budget!<br/>
        All that is left is to follow the plan, save and prosper!
      </p>
    </div>

  </div>

</div>
